attrs==26.1.0 ; python_version >= "3.11"
automat==25.4.16 ; python_version >= "3.11"
certifi==2026.2.25 ; python_version >= "3.11"
cffi==2.0.0 ; python_version >= "3.11" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.7 ; python_version >= "3.11"
constantly==23.10.4 ; python_version >= "3.11"
cryptography==46.0.7 ; python_version >= "3.11"
cssselect==1.4.0 ; python_version >= "3.11"
defusedxml==0.7.1 ; python_version >= "3.11"
filelock==3.29.0 ; python_version >= "3.11"
greenlet==3.4.0 ; python_version >= "3.11"
hyperlink==21.0.0 ; python_version >= "3.11"
idna==3.11 ; python_version >= "3.11"
incremental==24.11.0 ; python_version >= "3.11"
itemadapter==0.13.1 ; python_version >= "3.11"
itemloaders==1.4.0 ; python_version >= "3.11"
jmespath==1.1.0 ; python_version >= "3.11"
lxml==6.1.0 ; python_version >= "3.11"
packaging==26.1 ; python_version >= "3.11"
parsel==1.11.0 ; python_version >= "3.11"
playwright==1.58.0 ; python_version >= "3.11"
protego==0.6.0 ; python_version >= "3.11"
psycopg2-binary==2.9.11 ; python_version >= "3.11"
pyasn1-modules==0.4.2 ; python_version >= "3.11"
pyasn1==0.6.3 ; python_version >= "3.11"
pycparser==3.0 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_version >= "3.11"
pydispatcher==2.0.7 ; python_version >= "3.11" and platform_python_implementation == "CPython"
pyee==13.0.1 ; python_version >= "3.11"
pyopenssl==26.0.0 ; python_version >= "3.11"
pypydispatcher==2.1.2 ; python_version >= "3.11" and platform_python_implementation == "PyPy"
python-dotenv==1.2.2 ; python_version >= "3.11"
queuelib==1.9.0 ; python_version >= "3.11"
requests-file==3.0.1 ; python_version >= "3.11"
requests==2.33.1 ; python_version >= "3.11"
scrapy-playwright==0.0.46 ; python_version >= "3.11"
scrapy==2.15.0 ; python_version >= "3.11"
service-identity==24.2.0 ; python_version >= "3.11"
tldextract==5.3.1 ; python_version >= "3.11"
twisted==25.5.0 ; python_version >= "3.11"
typing-extensions==4.15.0 ; python_version >= "3.11"
urllib3==2.6.3 ; python_version >= "3.11"
w3lib==2.4.1 ; python_version >= "3.11"
zope-interface==8.3 ; python_version >= "3.11"
